Q1. What are the three measures of central tendency?

mean,median,mode

Q2. What is the difference between the mean, median, and mode? How are they used to measure the
central tendency of a dataset?

Ans2-Difference
    1-Mean is used to find average of the value.
    2-Median is used to find the centarl value of a number and also used to find outlyer.
    3-Mode is used to find the frequency 
    
    by using these 3  se can find central tendecy

Q3. Measure the three measures of central tendency for the given height data:

 [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [6]:
df=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
import pandas as pd
import numpy as np
df=pd.DataFrame(df)
df

        0
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [7]:
df.mean()

0    177.01875
dtype: float64

In [8]:
df.median()

0    177.0
dtype: float64

In [9]:
from scipy import stats

In [10]:
df.mode()

       0
0  177.0
1  178.0

Q4. Find the standard deviation for the given data:

[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [11]:
df1=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
df1=pd.DataFrame(df1)
df1

        0
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [13]:
df1.std()

0    1.847239
dtype: float64

Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
the spread of a dataset? Provide an example.

ANS5-Measures of dispersion such as range, variance, and standard deviation are used to quantify the spread or variability of data points within a dataset. Here's how each of these measures works and an example illustrating their use:

Range: The range is the simplest measure of dispersion and represents the difference between the largest and the smallest values in a dataset. It provides a rough estimate of the spread of the data.

Example: Consider the following dataset representing the daily temperatures (in degrees Celsius) for a week: {20, 22, 19, 25, 18, 23, 21}. To calculate the range, we subtract the smallest value (18) from the largest value (25):

Range = 25 - 18 = 7

So, the range of the temperatures for the week is 7 degrees Celsius.

Variance: Variance measures the average squared deviation of each data point from the mean of the dataset. A higher variance indicates greater variability in the data.

Example: Continuing with the temperature dataset, let's calculate the variance. First, we find the mean temperature:

Mean = (20 + 22 + 19 + 25 + 18 + 23 + 21) / 7 = 21

Then, we calculate the squared differences of each temperature from the mean, sum them up, and divide by the number of data points:

Variance = [(20-21)^2 + (22-21)^2 + (19-21)^2 + (25-21)^2 + (18-21)^2 + (23-21)^2 + (21-21)^2] / 7
= [(1)^2 + (1)^2 + (-2)^2 + (4)^2 + (-3)^2 + (2)^2 + (0)^2] / 7
= (1 + 1 + 4 + 16 + 9 + 4 + 0) / 7
= 35 / 7
= 5

So, the variance of the temperatures for the week is 5 square degrees Celsius.

Standard Deviation: The standard deviation is the square root of the variance and provides a measure of the average distance of data points from the mean. It is widely used due to its intuitive interpretation and its unit being the same as the original data.

Example: With the variance calculated as 5 square degrees Celsius, we can find the standard deviation by taking the square root of the variance:

Standard Deviation = √5 ≈ 2.24

Q6. What is a Venn diagram?

Ans-6
A Venn diagram is a graphical representation of the relationships between different sets of data

Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

(i) A∪B

(ii)A ∩ B

Ans7-
1-(0,2,3,4,5,6,7,8,10)
2-(2,6)

Q8. What do you understand about skewness in data?

Ans8-It describes the extent to which the values in a dataset deviate from a symmetrical distribution . In other word how much
it spread.

Q9. If a data is right skewed then what will be the position of median with respect to mean?

Ans9- Median is less than mean (mean>median)

Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?

Ans10-
Covariance:

Covariance measures the extent to which two variables change together.
It indicates the direction of the linear relationship between variables (positive or negative) but does not provide information
about the strength of the relationship.
Covariance can take on any value, positive, negative, or zero. A positive covariance indicates that the variables tend to move
in the same direction, while a negative covariance indicates that they move in opposite directions.

Correlation:

Correlation is a standardized measure of the linear relationship between two variables.
It ranges from -1 to 1, where:
A correlation of 1 indicates a perfect positive linear relationship.
A correlation of -1 indicates a perfect negative linear relationship.
A correlation of 0 indicates no linear relationship between the variables.

Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

Ans11-sample mean(x̄)=sum of term/number of term
data=1,2,3,4
sample mean(x̄)=sum of term/number of term
              =1+2+3+4/4
              =2.5 Ans

Q12. For a normal distribution data what is the relationship between its measure of central tendency?

Ans- symmetric

Q13. How is covariance different from correlation?

Covariance:

Covariance measures the extent to which two variables change together.
It indicates the direction of the linear relationship between variables (positive or negative) but does not provide information
about the strength of the relationship.
Covariance can take on any value, positive, negative, or zero. A positive covariance indicates that the variables tend to move
in the same direction, while a negative covariance indicates that they move in opposite directions.

Correlation:

Correlation is a standardized measure of the linear relationship between two variables.
It ranges from -1 to 1, where:
A correlation of 1 indicates a perfect positive linear relationship.
A correlation of -1 indicates a perfect negative linear relationship.
A correlation of 0 indicates no linear relationship between the variables.

Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

Measures of Central Tendency:

Mean: Outliers can strongly influence the mean since it's calculated by summing all values and dividing by the total number 
of observations. If there are extreme values (either very large or very small) in the dataset, the mean will be pulled towards
these outliers, potentially giving a skewed representation of the central tendency.

Median: The median is less affected by outliers because it's simply the middle value when the data is ordered.
Outliers don't influence the position of the median as long as they are not among the central values. However, 
if the outliers are extreme, they can still shift the median slightly.
    
Mode: Outliers usually have no effect on the mode since it represents the most frequently occurring value in the dataset.
Outliers that are significantly distant from the rest of the data are unlikely to affect the mode.
Measures of Dispersion:

Range: Outliers can greatly affect the range since it's determined by the difference between the maximum and minimum values in
the dataset. Even a single outlier can substantially increase the range, especially if it's an extreme value.
Variance and Standard Deviation: Outliers can have a significant impact on variance and standard deviation because these
measures involve the squared deviations from the mean. Outliers with large deviations from the mean can inflate the variance and,
consequently, the standard deviation, leading to an overestimation of the spread of the data.

Example:
Consider a dataset representing the incomes of employees in a company:

{30,000,35,000,40,000,45,000,50,000,200,000}


In this dataset, the majority of the incomes range between 30,000 and 50,000. However, there is one outlier of 200,000. 
Let's see how outliers affect measures of central tendency and dispersion:

Mean: Adding the outlier significantly increases the mean income, making it less representative of the typical employee's income.
Median: The median remains unaffected since it's not influenced by extreme values. It stays between 40,000 and 45,000.
Mode: The mode remains the same because it's not affected by outliers.
Range: The range increases dramatically from 20,000 to 170,000 due to the outlier.
Variance and Standard Deviation: The outlier increases the variance and standard deviation, indicating higher variability in incomes 
than actually present among the majority of employees.